<!-- views/profile.ejs -->
<!doctype html>
<html>
<body>
	<div class="container">
		<div class="row">
			<div class="col-sm-5 col-md-5">
				<!-- filler -->
			</div>
			<div class="col-sm-6 col-md-6">
				&nbsp; &nbsp;<img class="profile-pic" src=<%= user.picture %>><br>
			</div>
			<div class="col-sm-3 col-md-3">
				<!-- filler -->
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2">
				<!-- filler -->
			</div>
			<div class="col-sm-4">
				<div class="well">
					<h3>Edit Profile</h3>
						<p>
							<a href=<%= user.linkedin_url %> target="blank">LinkedIn Profile</a><br>
							<strong>Name</strong>: <input id="edit_name" type="text" name="name" value=<%= user.linkedin_name %>><br>
							<strong>Location</strong>: <input type="text" name="location" id="edit_location" style="width: 200px;"><br>
							<strong>Industry</strong>: <input type="text" id="edit_industry" name="industry"><br>
							<strong>Pings</strong>: <%= user.money %> Skips<br>
							<p id = "profilePositions"></p>
						</p>
				</div>
			</div>
			<div class="col-sm-3">
				<br><br><br>
				<strong>Interests</strong>: <textarea id="edit_interests" name="interests" rows="4" cols="40"> </textarea> <br>
				<strong>Skills</strong>: <textarea id="edit_skills" name="skills" rows="7" cols="40"> </textarea><br>
				<p id="follow_c">
					<strong>Companies Following</strong>: <%= user.follow_companies %><br>
				</p>
				<div id="uuid" style="visibility:hidden"><%= user._id %></div>
			</div>
		</div>
	</div>
</body>
<script> 
var positions = <%- user.positions %>;
positions = JSON.stringify(positions);
var posObject = JSON.parse(positions);
var currPosition = "";
var pastPositions = "<strong>Past Positions: </strong>";
for (var i = 0; i < posObject.length; i += 1) {
	// console.log(posObject[i]);
    if (posObject[i]['is_current']) {
        currPosition = "<strong>Current Position: </strong>" + posObject[i]['title'] + " at " + posObject[i]['company'] + "<br>";
    } else {
        pastPositions += posObject[i]['title'] + " at " + posObject[i]['company'] + "<br>";
    }
}
document.getElementById("profilePositions").innerHTML = currPosition + pastPositions;
var x = <%-str_user%>;
var name = x.linkedin_name;
var industry = x.industry;
var skills = x.skills;
var interests = x.interests;
var loc = x.location;
skills = skills.replace(/,/g, ', ');
var follow_c = $('#follow_c').html();
$('#follow_c').html(follow_c.replace(/,/g, ', '));

$('#edit_name').val(name);
$('#edit_industry').val(industry);
$('#edit_skills').val(skills);
$('#edit_interests').val(interests);
$('#edit_location').val(loc);
</script>
</html>
