<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title>Tinder Meets LinkedIn</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="stylesheets/flipclock.css">
    <script src="javascripts/flipclock.min.js"></script>
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body>
	<div class="container">
		<div class="page-header text-center">
			<h1><span class="fa fa-anchor"></span> Profile Page</h1>
			<a href="/logout" class="btn btn-default btn-sm">Logout</a>
		</div>
		<ul class="nav nav-tabs">
		    <li class="active"><a href="/profile">Today</a></li>
		    <li><a href="/history">History</a></li>
		    <li><a href="/user_profile">Profile</a></li>
		</ul>
		<div class="row">
			<!-- LOCAL INFORMATION -->
			Time until next match: <div class="clock"></div>
			<div class="col-sm-6">
				<div class="well">
					<% if (message) { %>
						<p><%= message %></p>
					<% } %>
					<h3><span class="fa fa-user"></span> Today's Match</h3>

					<p> New matches are made daily at 10am, 4pm, and 10pm</p>

				    <a href="/oauth/linkedin">Update data from LinkedIn</a>
						<p>
							<br>
							<strong>Tinder Meets LinkedIn Currency</strong>: <div id="money"> <%= user.money %> Skips </div><div id="no_money"></div><br>
							<strong>Name</strong>: <%= user.linkedin_name %><br>
							<strong>Location</strong>: <%= user.location %><br>
							<img src=<%= user.picture %>><br>
							<a href=<%= user.linkedin_url %> target="blank">LinkedIn Profile</a><br>
							<strong>Industry</strong>: <%= user.industry %><br>
							<p id = "profilePositions"></p>
							<strong>Interests</strong>: <%= user.interests %><br>
							<strong>Skills</strong>: <%= user.skills %><br>
							<strong>Companies Following</strong>: <%= user.follow_companies %><br>
							<strong>People Following</strong>: <%= user.follow_people %><br>

							<div id="uuid" style="visibility:hidden"><%= user._id %></div>


<!-- 							<strong>name</strong>: <%= user.linkedin_name %><br>
							<strong>id</strong>: <%= user._id %><br>
							<strong>email</strong>: <%= user.linkedin_email %><br>
							<strong>password</strong>: <%= user.local_password %><br>
							<strong>linkedin id</strong>: <%= user.linkedin_id %><br>
							<strong>token</strong>: <%= user.linkedin_token %><br>
							<strong>location</strong>: <%= user.location %><br>
							<strong>picture</strong>: <%= user.picture %><br>
							<strong>linkedin_url</strong>: <%= user.linkedin_url %><br>
							<strong>industry</strong>: <%= user.industry %><br>
							<strong>positions</strong>: <%= user.positions %><br>
							<strong>groups</strong>: <%= user.groups %><br>
							<strong>interests</strong>: <%= user.interests %><br>
							<strong>skills</strong>: <%= user.skills %><br>
							<strong>courses</strong>: <%= user.courses %><br>
							<strong>follow_companies</strong>: <%= user.follow_companies %><br>
							<strong>follow_people</strong>: <%= user.follow_people %><br> -->
							<!-- <strong>connections</strong>: <%= user.connections %><br> -->
						</p>
				</div>
			</div>
		</div>

		<a  onclick="skip()">Spend 1 skip to skip current match</a>
		<br>
		<a id="chat-button" href = "<%- loginUrl %>">Get more skips! Post about Tinder Meets LinkedIn with Facebook</a> 
		<br>
		<a href="/twauth">Get more skips! Post about Tinder Meets LinkedIn with Twitter</a>

	</div>
</body>
<script> 
    var socket = io.connect('http://localhost');
	var positions = <%- user.positions %>;
	positions = JSON.stringify(positions);
    var posObject = JSON.parse(positions);
    var currPosition = "";
    var pastPositions = "<strong>Past Positions: </strong>";
    for (var i = 0; i < posObject.length; i += 1) {
    	// console.log(posObject[i]);
        if (posObject[i]['is_current']) {
            currPosition = "<strong>Current Position: </strong>" + posObject[i]['title'] + " at " + posObject[i]['company'] + "<br>";
        } else {
            pastPositions += posObject[i]['company'] + " at " + posObject[i]['title'] + "<br>";
        }
    }
    document.getElementById("profilePositions").innerHTML = currPosition + pastPositions;

    function skip() {
    	var curr = $('#money').text().split(' ');
    	if (Number(curr[1]) <= 0) {
    		$('#money').text($('#money').text());
    		$('#no_money').text('Sorry, you have no more skips! Get more skips by sharing about Tinder Meets LinkedIn at the bottom!');
    	} else {
	    	var updated_money = Number(curr[1]) - 1;
	    	curr[1] = updated_money.toString();
	    	var new_curr = ' ' + curr[1] + ' Skips';
	    	$('#money').text(new_curr);
	    	var uuid = $('#uuid').text();
		    socket.emit('update currency', uuid, curr[1]);
		}
	}

	var now = new Date();
	var curr_year = now.getFullYear();
	var curr_month = now.getMonth();
	var curr_day = now.getDate();
	var time1 = new Date(curr_year, curr_month, curr_day, 10);
	var time2 = new Date(curr_year, curr_month, curr_day, 16);
	var time3 = new Date(curr_year, curr_month, curr_day, 22);
	var diff1 = time1 - now;
	var diff2 = time2 - now;
	var diff3 = time3 - now;
	var match_times = [diff1, diff2, diff3];
	var diff;
	for (var i=0; i<match_times.length; i++) {
		if (match_times[i] > 0) diff = match_times[i];
	}
	var clock = $('.clock').FlipClock(diff/1000, {
		autostart: true,
		countdown: true
	});
</script>
</html>
