<!-- views/profile.ejs -->
<!doctype html>
<html>
<body>
	<div class="container">
		<div class="row">
			<div class="col-sm-5 col-md-5">
				<!-- filler -->
			</div>
			<div class="col-sm-6 col-md-6">
				&nbsp; &nbsp;<img class="profile-pic" src=<%= user.picture %>><br>
			</div>
			<div class="col-sm-3 col-md-3">
				<!-- filler -->
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2">
				<!-- filler -->
			</div>
			<div class="col-sm-4">
				<div class="well">
					<h3>Profile</h3>
					<a href="/edit_profile">Edit profile information</a>
						<p>
							<a href=<%= user.linkedin_url %> target="blank">LinkedIn Profile</a><br>
							<strong>Name</strong>: <%= user.linkedin_name %><br>
							<strong>Location</strong>: <%= user.location %><br>
							<strong>Industry</strong>: <%= user.industry %><br>
							<strong>Pings</strong>: <%= user.money %> Skips<br>
							<p id = "profilePositions"></p>
						</p>
				</div>
			</div>
			<div class="col-sm-3">
				<br><br><br><br><br>
				<strong>Interests</strong>: <%= user.interests %><br>
				<p id="skills"> 
					<strong>Skills</strong>: <%= user.skills %>
				</p>
				<p id="follow_c">
					<strong>Companies Following</strong>: <%= user.follow_companies %><br>
				</p>
				<div id="uuid" style="visibility:hidden"><%= user._id %></div>
			</div>
		</div>
	</div>
</body>
<script> 
var skills = $('#skills').html();
$('#skills').html(skills.replace(/,/g, ', '));
var follow_c = $('#follow_c').html();
$('#follow_c').html(follow_c.replace(/,/g, ', '));

var positions = <%- user.positions %>;
positions = JSON.stringify(positions);
var posObject = JSON.parse(positions);
var currPosition = "";
var pastPositions = "<strong>Past Positions: </strong>";
for (var i = 0; i < posObject.length; i += 1) {
	// console.log(posObject[i]);
    if (posObject[i]['is_current']) {
        currPosition = "<strong>Current Position: </strong>" + posObject[i]['title'] + " at " + posObject[i]['company'] + "<br>";
    } else {
        pastPositions += posObject[i]['title'] + " at " + posObject[i]['company'] + "<br>";
    }
}
document.getElementById("profilePositions").innerHTML = currPosition + pastPositions;
</script>
</html>
